<%= form_for @url, remote: true do |f| %>

  <div class="row">
    <div class="twelve columns">
      <%= f.text_field :original, class: "u-full-width", id: "url-input" %>
    </div>
    <div class="twelve columns text-center">
      <%= f.submit "Shorten!", class: "button-primary" %>
    </div>
  </div>

<% end %>
