<div class="container">
  <div class="row">

    <div class="twelve columns">
      <%= render 'shared/flash_messages' %>
    </div>

  </div>
</div>

<div class="page-wrap">
  <div id="main-area" class="container">
    <div class="row">

      <div class="twelve columns">
        <h1 class="text-center">Shorority</h1>
        <h4 class="text-center">Shorten URL with Priority</h4> 
      </div>

      <%= render 'form' %>
    </div>
  </div>
</div>

<footer class="site-footer">
  <div class="copyright"><p>© 2015 Amrta Kautsar Faruqi</p></div> 
</footer>